<%= @painting.title %>

<div id='profile'>
  <div class='image_box'>
    <%= image_tag(@painting.image) %>
  </div>
  <h1 class='big'>
    <%= @painting.title %>
  </h1>
  <p>Created: <%= @painting.year %></p>
  <p><%= @painting.medium %></p>
  <p><%= @painting.style %>.</p>
  <br>
  <%= link_to 'Delete', @painting, :method => :delete, :confirm => 'Are you sure?' %>
</div>