.row
  .large-3.columns
    = form_for @stock, :remote => true do |f|
      = f.label :symbol
      = f.text_field :symbol, :autofocus => true
      = f.label :shares
      = f.text_field :shares
      = f.submit nil, :class => 'button radius'
      = f.submit 'Cancel', :class => 'button alert radius' , :id => 'close_stock_form_button'
  .large-9.columns