- if @auth.balance < 10000
  %h1= 'Poor ' + @auth.name.to_s + ' only has ' + number_to_currency(@auth.balance).to_s + ' left!'
- else
  %h1= @auth.name.to_s + ' has ' + number_to_currency(@auth.balance).to_s

#buy_stock
  = link_to('buy', new_stock_path, :remote => true, :class => 'button radius', :id => 'show_new_stock_button')

- @auth.stocks.each do |stock|
  .left= check_box_tag stock.symbol
  .left.smallmargin= label_tag stock.symbol