<div class="row">

    <div class="three columns">
      <h1><%= image_tag('tunr.png') %></h1>
    </div>

    <div class="nine columns">
      <ul class="nav-bar right">

        <li>
          <%= link_to('Home', root_path) %>
        </li>

        <!-- Hide mixtapes if no one logged in or admin -->

        <% if @auth && !is_admin  %>
          <%= render :partial => 'layouts/mixmenu' %>
        <% end %>

        <!-- END Hide mixtapes -->

        </li>

        <li class="has-flyout">

          <a href="#">Browse Music</a>
          <a href="#" class="flyout-toggle"><span> </span></a>

            <ul class="flyout">
              <li><%= link_to('Artists', artists_path) %></li>
              <li><%= link_to('Albums', albums_path) %></li>
              <li><%= link_to('Genres', genres_path) %></li>
              <li><%= link_to('Songs', songs_path) %></li>
            </ul>

        </li>

        <%== intellinav %>

      </ul>
    </div>

</div>
