<div id='bookbox'>
<h1>Edit Book:</h1>
<br>
<%= form_for @book do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :chef %>
  <%= f.text_field :chef %>
  <br>
  <br>
  <%= f.label :cuisine %>
  <%= f.text_field :cuisine %>
  <br>
  <br>
  <%= f.label :isbn %>
  <%= f.text_field :isbn %>
  <br>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
</div>