.row
  .large-4.columns
    = form_for @album, :url => '/albums', :remote => true do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert')
      = f.submit :class => 'button tiny radius success'