.row
  .four.columns
    - if @user.errors.any?
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            %span.label.alert.radius= msg
    = form_for @user do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true;
      = f.label :image
      = f.text_field :image
      = f.label :balance
      = f.number_field :balance
      = f.label :password
      = f.password_field :password
      = f.label :password_confirmation
      = f.password_field :password_confirmation
      = f.submit :class => 'button radius'
  .eight.columns



