<div class='bigbox_movie'>
  <h1 class='medium'>Great flick. Saw it last week with Darien.</h1>
</div>
<div class='bigbox'>
  <div class='poster'>
    <img src='<%= @poster %>'>
  </div>
  <h1 class='medium'><%= @title %></h1>
  <ul class='small'>
    <li ><%= @year %></li>
    <li><%= @rated %></li>
    <li><%= @runtime %></li>
    <li><%= @genre %></li>
    <li><%= @director %></li>
    <li><%= @actors %></li>
    <li><%= @writer %></li>
  </ul>
</div>



